doctype html
html(lang="ru-RU")
    head
        link(rel="stylesheet" type="text/css" href="styles/main.css")
        title TITLE
 
    body
        header
            include components/header.pug
            include components/menu.pug
        content
            include components/slider.pug
            include components/products.pug
