.block-header
    .eye
        include eye.svg
    p Версия для слабовидящих
    .separator-1
        .separator
    .group
        include group.svg
    p Сравнение товаров
    .separator-2
        .separator
    .icon_instagram
        include icon_instagram.svg
    .icon_twitter
        include icon_twitter.svg
    .icon_vk
        include icon_vk.svg
    .pay
        p Оплата
    .separator-3
        .separator
    .delivery
        p Доставка
    .separator-4
        .separator
    .refund
        p Возврат и обмен
    .logo
        include logo.svg
    .telephone
        p (8184) 52-96-33
    .search
        input.search_input(type="text" placeholder="Поиск")
        .icon_search 
            include icon_search.svg
    .user
        include icon_login.svg
        p Вход/Регистрация
    .basket
        include icon_basket.svg
        p Корзина()

