.menu
    ul
        li
            a(href="#") Каталог
        li
            a(href="#") О компании
        li
            a(href="#") ОМС
        li
            a(href="#") Акции
        li
            a(href="#") Розничная сеть
        li
            a(href="#") Партнеры
        li
            a(href="#") Контакты
        li
            a(href="#") Подбор очков
