.products
    p Популярные товары
    .products_box
        .img_box
            .img_box_img
        .name_box
            p DAVIDOFF Urban Coolness Sunglasses
        .price_box
            .price_product
                p 14500 руб.
            .group_product
                .center_group
                    include icon_group.svg
            .in_basket
                .p_in_basket В КОРЗИНУ
    .products_box-1
        .img_box
            .img_box_img_2
        .name_box
            p DAVIDOFF Urban Coolness Sunglasses
        .price_box
            .price_product
                p 14500 руб.
            .group_product
                .center_group
                    include icon_group.svg
            .in_basket
                .p_in_basket В КОРЗИНУ
    .products_box-2
        .img_box
            .img_box_img_3
        .name_box
            p DAVIDOFF Urban Coolness Sunglasses
        .price_box
            .price_product
                p 14500 руб.
            .group_product
                .center_group
                    include icon_group.svg
            .in_basket
                .p_in_basket В КОРЗИНУ
    .products_box-3
        .img_box
            .img_box_img
        .name_box
            p DAVIDOFF Urban Coolness Sunglasses
        .price_box
            .price_product
                p 14500 руб.
            .group_product
                .center_group
                    include icon_group.svg
            .in_basket
                .p_in_basket В КОРЗИНУ
