.slider
    .left_box
        .new_collect
            p Новая коллекция солнечных очков
        .all_assort
            p Весь ассортимент популярного бренда в нашем интернет-магазине
        .button_slider
            p ПЕРЕЙТИ В КАТАЛОГ
    .right_box
